
*{
    margin: 0;
    padding: 0;
}
.contenedor img{
height: 400px;

}
.contenedor2 img{
    height: 400px;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  aside img {
    display: none;
  }
}

